form {
  display: block;
  background: rgba(91, 60, 103, 0.04);
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  text-align: center;
}
form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}





